body {
  font-family: Arial, sans-serif;
  margin: 25px;
  background-color: #fafafa;
}

h1 img {
  width: 40px;
}

h1 {
  text-align: center;
  color: #0097b2;
  font-family: monospace;
  font-size: 2.5rem;
  font-weight: bolder;
}

#searchInput {
  margin: 10px auto;
  padding: 10px 20px;
  width: calc(100% - 42px);
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
  display: block;
}

#searchInput:focus {
  border-color: #007bff;
  box-shadow: 0 2px 8px rgba(0, 123, 255, 0.2);
  outline: none;
}

#productTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}

#productTable th,
#productTable td {
  border: 1px solid #ddd;
  padding: 8px;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

th {
  background-color: #ddd;
}

#productTable tr:nth-child(even) {
  background-color: #f2f2f2; /* Color para las filas pares */
}

#productTable tr:nth-child(odd) {
  background-color: #ffffff; /* Color para las filas impares */
}

.btnFloat {
  position: fixed;
  right: 3px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
}

.btnToggle {
  top: 29px;
}

.btnWpp {
  bottom: 20px;
}

.product {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

#loader {
  text-align: center;
  padding: 10px;
}

.hidden {
  display: none;
}

/* Modo oscuro */
body.dark-mode {
  background-color: #2e2e2e;
  color: white;
}

body.dark-mode #productTable tr:nth-child(even) {
  background-color: #1e1e1eb9; /* Color para las filas pares */
}

body.dark-mode #productTable tr:nth-child(odd) {
  background-color: #2e2e2eb9; /* Color para las filas impares */
}

body.dark-mode input {
  background-color: #453e3e;
  color: white;
}

body.dark-mode th {
  background-color: #1e1e1eb9;
  color: white;
}

@media (max-width: 768px) {
  #searchInput {
    width: calc(100% - 22px);
  }

  #productTable {
    display: block;
    overflow-x: auto; /* Añadir desplazamiento horizontal */
  }

  #productTable thead,
  #productTable tbody,
  #productTable th,
  #productTable td,
  #productTable tr {
    display: block;
  }

  #productTable thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #productTable tr {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  #productTable td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 30%; /* Ajustar padding para reflejar el ancho del data-label */
    white-space: normal; /* Permitir ajuste de línea */
    word-wrap: break-word; /* Permitir que el texto se ajuste */
    word-break: break-all; /* Permitir que el texto se divida en múltiples líneas */
  }

  #productTable td:before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: calc(30% - 20px); /* Ajustar el ancho del data-label al 30% */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
